@tailwind base;
@tailwind components;
@tailwind utilities;

.boysbg{
  background-image: url(/assets/boys\ maior.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
  