@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes menuVisible {
    from{left: 1000px;}
    to{left: 0%;}
  }
  @media not all and (min-width: 640px) {
    .animationintro{
      /* background-color: black; */
      animation: menuVisible;
      animation-duration: 1s;
      transition: 1s;
    }
  }
  @keyframes menuInvisible {
    from{left: 0%;}
    to{left: 1000px;}
  }
  @media not all and (min-width: 640px) {
    .animationout{
      /* background-color: black; */
      animation: menuInvisible;
      animation-duration: 1s;
      transition: 1s;
    }
  }