@tailwind base;
@tailwind components;
@tailwind utilities;

.boysbg{
  background-image: url(/assets/boys\ maior.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bgblue{
  background-image: url(/bg1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: white;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #1d4ed8; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #0a1763;
}
*{
  margin: 0;
  padding: 0;
}
/* Rectangle 38 */

.bgbluegradient{
  background: linear-gradient(248.01deg, #2E65FF 35.62%, #001B68 93.99%);
}


